<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
</head>
<header>
  <%- include('./partials/nav'); %>
</header>

<body class="p-3 m-0 border-0 bd-example m-0 border-0">

  <h1>Ksher Example SDK nodejs</h1>

</body>

</html>